<!DOCTYPE html>
<html>
<html xmlns:og=”http://ogp.me/ns#”>
  <head>
    <title>Lionel Maddalone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="description" content="Passionné par la communication et le web marketing je prend très à coeur de développer la notoriété d'une entreprise pour laquelle je dois travailler.">
    <meta property="og:title" content="Lionel Maddalone : développons ensemble votre présence digitale" />
    <meta property="og:type" content="présentation" />
    <meta property="og:image" content="https://res.cloudinary.com/ddkbkwzfv/image/upload/v1596544074/open_gaph_eqikgb.jpg" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= render 'shared/navbar'%>
    <%= yield %>
    <%= render 'shared/footer'%>
  </body>
</html>
